/* GLOBAL RESET */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

/* NAVBAR */
.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 10px;
    justify-content: space-evenly;
}

/* LOGO */
.nav-logo {
    height: 50px;
    width: 100px;
}
.logo {
    background-image: url("amazon_logo.png");
    background-size: cover;
    background-position: center;
    height: 50px;
    width: 100%;
}

/* BORDER HOVER */
.border {
    border: 2px solid transparent;
    cursor: pointer;
}
.border:hover {
    border: 1.5px solid white;
}

/* ADDRESS */
.add-first {
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}
.add-second {
    font-size: 1rem;
    margin-left: 3px;
}
/* LOCATION ICON */
.add-icon {
    display: flex;
    align-items: center;
    gap: 5px;
}

/* SEARCH BAR */
.nav-search {
    display: flex;
    width: 620px;
    height: 40px;
    border-radius: 4px;
    margin-left: 15px;
    justify-content: space-between;
    background-color: white;
    overflow: hidden;
}
.search-select {
    width: 60px;
    border: none;
    background-color: #f3f3f3;
    text-align: center;
}
.search-input {
    flex: 1;
    padding: 5px 10px;
    border: none;
    font-size: 1rem;
}
.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    color: #0f1111;
}

/* NAV TEXT */
span {
    font-size: 0.7rem;
}
.nav-second {
    font-size: 0.85rem;
    font-weight: 700;
}

/* CART */
.nav-cart i {
    font-size: 30px;
}
.nav-cart {
    font-size: 0.85rem;
    font-weight: 700;
}

/* PANEL */
.panel {
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: aliceblue;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 10px;
}
.panel-ops {
    width: 70%;
    font-size: 0.85rem;
}
.panel-ops p {
    display: inline-block;
    margin-left: 15px;
    cursor: pointer;
}
.panel-deals {
    font-size: 0.9rem;
    font-weight: 700;
}

/* HERO SECTION */
.hero-section {
    background-image: url("hero_image (1).jpg");
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-msg {
    background-color: white;
    color: #007185;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 25px;
    border-radius: 4px;
}

/* SHOP SECTION */
.shop-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
    padding: 20px 0;
}
.box {
    height: 400px;
    border: 2px solid black;
    width: 23%;
    background-color: white;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}
.box:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
.box-img {
    height: 300px;
    background-size: cover;
    background-position: center;
    margin: 1rem 0;
}
.box-content {
    margin-left: 1rem;
    margin-right: 1rem;
}
.box-content p {
    color: #007185;
    font-weight: 600;
    cursor: pointer;
}
.foot-panel1{
    background-color: #37475a;
    color:white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:0.85rem;
}
.foot-panel2{
    background-color: #222f3d;
    color:white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}

ul{
    margin-top: 20px;
}
ul a {
    display:block;
    font-size:0.85rem
    ;
    margin-top:10px;
    color:#dddddd;
}
.foot-panel3{
    background-color: #222f3d;
    color:white;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    align-items:center;
}
    .logo {
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
    }

    